@import '~maplibre-gl/dist/maplibre-gl.css'
    
/* You can add global styles to this file, and also import other style files */
html, body
    margin: 0
    padding: 0
    width: 100%
    height: 100%